a.out
*.[oa]
*~
*.lo
*.wo
*.ppu
*.pc
Makefile
configure-maintainer
config-mingw
config.status
version.h
avatarsay
avatarsay-bin
example
multiplizieren
multiply
bdfread
libakfavatar.so*
lua-akfavatar
lua-akfavatar-bin
lua-akfavatar.about
lua-akfavatar-ref.about
akfavatar.h.about
avtaddons.h.about
bin2c
ucsfont*.c
alert.c
rgb.h
*.tar.bz2
*.tar.gz
*.tgz
*.zip
misc
archives
tests
*-pak
*.deb
*.dll
*.exe
*.def
version.texi
*.t2d
*.aux
*.cp
*.cps
*.fn
*.ky
*.pg
*.tp
*.vr
*.log
*.toc
akfavatar-??.info
akfavatar-??.html
akfavatar-??.pdf
akfavatar-??.ps
akfavatar-??.dvi
akfavatar-??.txt
akfavatar-??.xml
pasref.txt
akfavatar-h.txt
build
*.patch
akfavatar-term.so
akfavatar-graphic.so
akfavatar-vorbis.so
base64.so
lua-akfavatar.so
