[Desktop Entry]
Version=1.0
Type=Application
Name=Lua-AKFAvatar
Comment=Lua-AKFAvatar runtime environment
Comment[de]=Lua-AKFAvatar Laufzeitumgebung
Exec=lua-akfavatar %f
Icon=akfavatar
Terminal=false
Categories=Utility;
