*.exe
*.zip
libinfo.rc
avtsayinfo.rc
akfavatar.dll
akfavatar.lib
libakfavatar.a
config.mak
*.ppu 
*.gpi
*.gpm
bdfread
bdfread.exe
bin2c
bin2c.exe
bell.c
ucsfont7x14.c
ucsfont9x18.c
SDL.dll
README-SDL.txt
