#include "version.h"

LANGUAGE 7, 1

1 VERSIONINFO
FILEVERSION AVTVERSION, AVTSUBVERSION, AVTREVISION, AVTBUILD
PRODUCTVERSION AVTVERSION, AVTSUBVERSION, AVTREVISION, AVTBUILD
FILEFLAGSMASK 0x3F
FILEOS 0x4
FILETYPE 0x2
BEGIN
 BLOCK "StringFileInfo"
 BEGIN
  BLOCK "040704E4"
  BEGIN
   VALUE "CompanyName", "AKFoerster"
   VALUE "FileDescription", "Lua-AKFAvatar Modul f\374r Ogg Vorbis"
   VALUE "FileVersion", AVTVERSIONSTR
   VALUE "InternalName", "akfavatar-vorbis"
   VALUE "LegalCopyright",
     "Andreas K. F\366rster, Sean Barrett, GPLv3+"
   VALUE "OriginalFilename", "akfavatar-vorbis.dll"
   VALUE "Comments",
      "urspr\374nglich f\374r GNU/Linux geschrieben"
   VALUE "ProductName", "AKFAvatar"
   VALUE "ProductVersion", AVTVERSIONSTR
  END
 END
 BLOCK "VarFileInfo"
  BEGIN
   VALUE "Translation", 0x407, 1252, 0x0409, 1252
 END
END

LANGUAGE 9, 1

1 VERSIONINFO
FILEVERSION AVTVERSION, AVTSUBVERSION, AVTREVISION, AVTBUILD
PRODUCTVERSION AVTVERSION, AVTSUBVERSION, AVTREVISION, AVTBUILD
FILEFLAGSMASK 0x3F
FILEOS 0x4
FILETYPE 0x2
BEGIN
 BLOCK "StringFileInfo"
 BEGIN
  BLOCK "040904E4"
  BEGIN
   VALUE "CompanyName", "AKFoerster"
   VALUE "FileDescription", "Lua-AKFAvatar Module for Ogg Vorbis"
   VALUE "FileVersion", AVTVERSIONSTR
   VALUE "InternalName", "akfavatar-vorbis"
   VALUE "LegalCopyright",
     "Andreas K. F\366rster, Sean Barrett, GPLv3+"
   VALUE "OriginalFilename", "akfavatar-vorbis.dll"
   VALUE "Comments", "primarily written for GNU/Linux"
   VALUE "ProductName", "AKFAvatar"
   VALUE "ProductVersion", AVTVERSIONSTR
  END
 END
 BLOCK "VarFileInfo"
  BEGIN
   VALUE "Translation", 0x409, 1252, 0x0407, 1252
 END
END
